<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
  -->
  <title>Kolben Hydraulics | About Us</title>
    <!--
    Favicons
    =============================================
  -->
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

  -->
  <!-- Default stylesheets-->
  <link href="assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="assets/lib/animate.css/animate.css" rel="stylesheet">
  <link href="assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="assets/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="assets/css/style.css" rel="stylesheet">
  <link id="color-scheme" href="assets/css/colors/default.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-left" href="index.html"><img style="padding-left:10px; padding-bottom: 2px; padding-top: 2px;" src="assets/images/logo-1.png"></img></a>
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Home</a></li>
            <li><a class="section-scroll active" href="about.html">About us</a></li>
            <li><a class="section-scroll" href="product">Products</a></li>
            <li><a class="section-scroll" href="services.html">Services</a></li>
            <li><a class="section-scroll" href="applications.html">Application</a></li>
            <li><a class="section-scroll" href="news">News</a></li>
            <li><a class="section-scroll" href="contact.html">Contact</a></li>
            <li><a class="section-scroll" href="login.html">Log In</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main">
      <section style="padding: 280px 0px;" class="module bg-dark-60 service-page-header" data-background="assets/images/landing/about-us.jpg">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt">About Us</h2>
              <div class="module-subtitle1 font-serif"></div>
            </div>
          </div>
        </div>
      </section>

      <section class="module" id="services">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt"></h2>
              <div class="module-subtitle font-serif">
                <strong>Kolben Hydraulics Ltd.</strong> is a  Joint Venture Between <strong>Yuken India Ltd. (YIL)</strong>, one of the pioneers and leading manufacturers of Industrial Hydraulics products in India for the last  40 plus years and <strong>other investors</strong>. Kolben  Hydraulics Ltd is the <strong>mobile face</strong> of the YIL  group of Companies.  Strategically,  some of the global brands  have been brought  to India  by Kolben. Other complimentary products to increase the basket offerings is on going.
              </div>
            </div>
          </div>
          <div class="row multi-columns-row">
            <div class="container">

              <div class="service-right">
                <div class="row">
                  <div class="col-md-6">
                    <h2>PWG  srl, Italy </h2>
                    <br>
                    <div class="hr1"></div>
                    <div class="module-subtitle p-left">
                      <p>Focused  on Hydrostatic Pumps and Motors from 14 cc to 64 cc rated up to 400 bar, single and tandem pumps, filters, joysticks, valve blocks, Hydraulic-driven generators, compressors and welding unit.  A  Joint Venture Company is formed  and  localizing of parts in a phased manner is in progress.
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service1">
                      <!-- <a href="http://www.pwgsrl.com/EN/seriec.php" target="_blank"><img style="width: 100%; height: 100%;" src="assets/images/landing/pwg.png"></a> -->
                      <div style="height: 200px;" class="gallery-item">
                        <div class="gallery-image"><a class="gallery" href="http://www.pwgsrl.com/2017/en" target="_blank" title="Title 5"><img style="width: 100%; height: 100%;" src="assets/images/landing/pwg.png" alt="Gallery Image 5"/>
                          <div class="gallery-caption">
                            <button class="btn btn-b btn-circle" type="submit">View More</button>
                          </div></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="divider-w">

                <!--Feature2-->

                <div class="service-left">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="service2">
                        <!-- <a href="http://www.psm-export.com/" target="_blank"><img style="width: 100%; height: 100%;" src="assets/images/landing/psm.png"></a> -->
                        <div style="height: 200px;" class="gallery-item">
                          <div class="gallery-image"><a class="gallery" href="http://www.psm-export.com/" target="_blank" title="Title 5"><img style="width: 100%; height: 100%;" src="assets/images/landing/psm.png" alt="Gallery Image 5"/>
                            <div class="gallery-caption">
                              <button class="btn btn-b btn-circle" type="submit">View More</button>
                            </div></a></div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <h2>PSM Hydraulics, Russia </h2>
                        <br>
                        <div class="hr1"></div>
                        <div class="module-subtitle p-right">
                          <p>Swash plate closed loop pumps/ motors, bent axis designed fixed /variable pumps and motors rated up to 450 bar, joysticks, slew drive, track/ wheel drives, Splitter gearbox with integrated pumps. Range of products starts from 12 cc up to 250 cc .Many products are analogous to other brands like Bosch Rexroth, Sauer Danfoss, Linde, Parker , Eaton,  Dana – Brevini etc. To meet the needs of our customers, a Joint venture agreement is signed and localizing of parts in a phased  manner is in progress.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr class="divider-w">

                  <!--Service 3-->
                  <div class="service-right">
                    <div class="row">
                      <div class="col-md-6">
                       <div>
                        <h2>Sunfab, Sweden </h2>
                        <br>
                        <div class="hr1"></div>
                        <div class="module-subtitle p-left">
                          <p>Bent axis fixed displacement pumps/ motors ranging from 12 cc to 130 cc with options of mounting/ shaft  rated upto 450 bar peak.  Cartridge Motors, High pressure Variable displacement pumps, PTO drives, add on valve block etc.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="service1">
                        <!-- <a href="https://www.sunfab.com/" target="_blank"><img style="width: 100%; height: 100%;" src="assets/images/landing/sunfab.png"></a> -->
                        <div style="height: 200px;" class="gallery-item">
                          <div class="gallery-image"><a class="gallery" href="https://www.sunfab.com/" target="_blank" title="Title 5"><img style="width: 100%; height: 100%;" src="assets/images/landing/sunfab.png" alt="Gallery Image 5"/>
                            <div class="gallery-caption">
                              <button class="btn btn-b btn-circle" type="submit">View More</button>
                            </div></a></div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>


                  <hr class="divider-w">


                  <!--Service 4-->
                  <div style="padding-bottom: 45px;" class="service-left">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="service2"><!-- <a href="https://www.tecnord.com/" target="_blank"><img style="width: 100%; height: 100%;" src="assets/images/landing/Technord_delta.png"></a> -->
                          <div style="height: 200px;" class="gallery-item">
                            <div class="gallery-image"><a class="gallery" href="https://www.tecnord.com/" target="_blank" title="Title 5"><img style="width: 100%; height: 100%;" src="assets/images/landing/Technord_delta.png" alt="Gallery Image 5"/>
                              <div class="gallery-caption">
                                <button class="btn btn-b btn-circle" type="submit">View More</button>
                              </div></a></div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <h2>Tecnord – Delta, Italy/USA </h2>
                          <br>
                          <div class="hr1"></div>
                          <div class="module-subtitle p-right">
                            <p>High end mobile proportional valves , Mechanical, On/Off and proportional cartridge valves, Electronics joystick, Electronic cards  and specific machine management system</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr class="divider-w">

                    <!--Service 5-->
                    <div class="service-right">
                      <div class="row">
                        <div class="col-md-6">
                         <div>
                          <h2>Kolben's Package solutions  for Mobile OEM’s</h2>
                          <br>
                          <div class="hr1"></div>
                          <div class="module-subtitle p-left">
                            <p>With a wide range of products handled and also access to other group products including electronics, Kolben’s  application team provides system solutions for a wide range of machines like – Harvestors, Self-Loading Transit mixer, Skid Steer Loader, Sweeping machines, Walk Behind Rollers etc.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="service1">
                          <!-- <a href="#" target="_blank"><img style="width: 100%; height: 100%;" src="assets/images/landing/application_about_us.jpg"></a> -->
                          <div style="height: 200px;" class="gallery-item">
                            <div class="gallery-image"><a class="gallery" href="applications.html" target="_blank" title="Title 5"><img style="width: 100%; height: 100%;" src="assets/images/landing/application_about_us.jpg" alt="Gallery Image 5"/>
                              <div class="gallery-caption">
                                <button class="btn btn-b btn-circle" type="submit">View More</button>
                              </div></a></div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <!--Service 6-->
                    <div style="padding-bottom: 45px;" class="service-left">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="service2"><!-- <a href="https://www.tecnord.com/" target="_blank"><img style="width: 100%; height: 100%;" src="assets/images/landing/Technord_delta.png"></a> -->
                            <div style="height: 200px;" class="gallery-item">
                              <div class="gallery-image"><a class="gallery" href="services.html" target="_blank" title="Title 5"><img style="width: 75%; height: 75%;" src="assets/images/landing/about_us_new.jpg" alt="Gallery Image 5"/>
                                <div class="gallery-caption">
                                  <button class="btn btn-b btn-circle" type="submit">View More</button>
                                </div></a></div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <h2>Service Solutions </h2>
                            <br>
                            <div class="hr1"></div>
                            <div class="module-subtitle p-right">
                              <p>Kolben is one the first Company in India to start an “ All brand Hydraulics service center across PAN India” in the organized sector. At this point two service centers are operational – one in Bangalore, which is also our Head office and a second center in Delhi. Plans are to have more service centers across India at strategic locations. In our Service center, apart from the brands represented, other popular brands like Bosch Rexroth, Sauer Danfoss, Parker, Eaton , Kawasaki etc. are serviced. Kolben is looking to rapidly expand both geographically in India and abroad in the coming years.</p>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </section>

                <section class="module-small bg-light">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
                        <div class="callout-text font-alt">
                          <h3 class="callout-title">Want to get a product serviced?</h3>
                          <p>Drop us your enquiry and our Service Team will be in touch with you at the earliest.</p>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-2">
                        <div class="callout-btn-box"><a class="btn btn-b btn-circle text-uppercase" href="contact.html">Contact Us</a></div>
                      </div>
                    </div>
                  </div>
                </section>

                <div class="module-small bg-dark">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="widget">
                          <h5 class="widget-title font-alt">Kolben</h5>
                          <p>Packaged solutions and services for a range of applications.</p>
                          <p>Phone:<a href="tel:+91-80-29724222"> +91-80-29724222</a></p>
                          <p>Email:<a href="mailto: marketingsupport@kolbenhydraulics.com">  marketingsupport@kolbenhydraulics.com</a></p>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="widget">
                          <h5 class="widget-title font-alt">Quick Links</h5>
                          <ul class="icon-list">
                            <div class="container">
                              <li><a href="index.html">Home </a></li>
                              <li><a href="about.html">About Us </a></li>
                              <li><a href="product">Products </a></li>
                              <li><a href="#totop">Services </a></li>
                              <li><a href="applications.html">Applications</a></li>
                              <li><a href="news">News </a></li>
                              <li><a href="contact.html">Contact </a></li>
                              <li><a href="login.html">Login </a></li>
                            </div>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="divider-d">

                <footer class="footer bg-dark">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12">
                        <p class="copyright font-alt">&copy; 2019&nbsp;Kolben Hydraulics Ltd., All Rights Reserved. Design by <a href="http://boilerplate.in" target="_blank">boilerplate</a></p>
                      </div>
                    </div>
                  </div>
                </footer>

              </div>

              <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
            </main>
    <!--
    JavaScripts
    =============================================
  -->
  <script src="assets/lib/jquery/dist/jquery.js"></script>
  <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="assets/lib/wow/dist/wow.js"></script>
  <script src="assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
  <script src="assets/lib/isotope/dist/isotope.pkgd.js"></script>
  <script src="assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
  <script src="assets/lib/flexslider/jquery.flexslider.js"></script>
  <script src="assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
  <!-- <script src="assets/lib/smoothscroll.js"></script> -->
  <script src="assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
  <script src="assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/main.js"></script>

  <!-- Slider script -->
  <script src="assets/js/slider.js" type="text/javascript"></script>
</body>
<div class="modal" id="modal-gallery" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">×</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
        <div id="modal-carousel" class="carousel">

          <div class="carousel-inner">
          </div>

          <a class="carousel-control left" href="#modal-carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="carousel-control right" href="#modal-carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-b btn-circle" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</html>
