<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
-->
<title>Kolben Hydraulics | Application</title>
    <!--
    Favicons
    =============================================
-->
<link rel="shortcut icon" href="favicon.png" type="image/x-icon">

<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

-->

<link href="assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Template specific stylesheets-->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="assets/lib/animate.css/animate.css" rel="stylesheet">
<link href="assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/lib/et-line-font/et-line-font.css" rel="stylesheet">

<!-- Main stylesheet and color file-->
<link href="assets/css/style.css" rel="stylesheet">
<link id="color-scheme" href="assets/css/colors/default.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="assets/magiczoomplus.css"/>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
	<main>
		<div class="page-loader">
			<div class="loader">Loading...</div>
		</div>
		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-left" href="index.html"><img style="padding-left:10px; padding-bottom: 2px; padding-top: 2px;" src="assets/images/logo-1.png"></img></a>
				</div>
				<div class="collapse navbar-collapse" id="custom-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="index.html">Home</a></li>
						<li><a class="section-scroll" href="about.html">About us</a></li>
						<li><a class="section-scroll" href="product">Products</a></li>
						<li><a class="section-scroll" href="#totop">Services</a></li>
						<li><a class="section-scroll active" href="applications.html">Applications</a></li>

						<li><a class="section-scroll" href="news">News</a></li>
						<li><a class="section-scroll" href="contact.html">Contact</a></li>
						<li><a class="section-scroll" href="login.html">Log In</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="main">
			<section class="module bg-dark-60 service-page-header" data-background="assets/images/services_bg.jpg">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<h2 class="module-title font-alt">Application</h2>
							<div class="module-subtitle font-serif">KOLBEN  is offering complete system solution for a range of mobile applications like Construction, Agricultural, Material handling,  Rail equipment  etc. Our technical team  carefully studies the application needs and provides  tailor-made solutions to meet your needs. We provide from Building - Concept to Commissioning of Prototype and further training and Service Management to our Clients for their needs.</div>
						</div>
					</div>
				</div>
			</section>

			<section style="padding-bottom: 20px;" class="module" id="services">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<h2 class="module-title font-alt"></h2>
							<div class="module-subtitle font-serif"></div>
						</div>
					</div>
					<div class="row multi-columns-row">
						<div class="container">

							<div class="service-right">
								<div class="row">
									<div class="col-md-6">
										<h2>SKID STEER LOADER</h2>
										<br>
										<div class="hr1"></div>
										<div class="module-subtitle p-left">
											<p>Kolben’s packaged solution for Skid Steer Loader consists of an efficient pump system for drive  and  auxiliary functions available with various option of controls. Added to this, efficient, compact  drive hydro motors with customer-specific options can be designed. Ergonomically designed Joystick with various features can also be offered. System specific valve blocks, designed and supplied based on your needs. The system is equipped  with special accessories installed for an overall better performance.</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="service1">
											<a title="Skid_Steer" href="#">
												<a href="assets/images/gallery/Application/Skid Steer/roller3.png" class="MagicZoom"><img class="gallery-image img-responsive" id="Skid_Steer" src="assets/images/gallery/Application/Skid Steer/roller3.png"></a>
											</a>
										</div>
									</div>
								</div>
							</div>

							<hr class="divider-w">

							<!--Feature2-->

							<div class="service-left">
								<div class="row">
									<div class="col-md-6">
										<div class="service2">
											<a title="Walk_Behind" href="#">
												<img class="gallery-image img-responsive" id="Walk_Behind" src="assets/images/Applications/walk_behind_roller_1.png">
											</a>
										</div>
									</div>

									<div class="col-md-6">
										<h2>WALK BEHIND ROLLER</h2>
										<br>
										<div class="hr1"></div>
										<div class="module-subtitle p-right">
											<p>Compact Hydrostatic transmission along with  simplified auxiliary  drive  solution. The system is protected with a special filter against contamination.</p>
										</div>
									</div>
								</div>
							</div>

							<hr class="divider-w">

							<!--Service 3-->
							<div class="service-right">
								<div class="row">
									<div class="col-md-6">
										<div>
											<h2>SELF LOADING TRANSIT MIXER</h2>
											<br>
											<div class="hr1"></div>
											<div class="module-subtitle p-left">
												<p>Options of  proven products available for main drive and drum rotation, with variety of control based on client needs are available. System-specific valve blocks can be designed and supplied based on needs and equipped with special accessories installed for better performance.</p>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="service1">
											<a title="Self_loading" href="#">
												<img class="gallery-image img-responsive" id="Self_loading" src="assets/images/Applications/mixer.png">
											</a>
										</div>
									</div>

								</div>
							</div>

							<hr class="divider-w">


							<div class="service-left">
								<div class="row">
									<div class="col-md-6">
										<div class="service2">
											<a title="sweeping_machine" href="#">
												<img class="gallery-image img-responsive" id="sweeping_machine" src="assets/images/Applications/sweeping_machine.png">
											</a>
										</div>
									</div>

									<div class="col-md-6">
										<h2>SWEEPING MACHINE</h2>
										<br>
										<div class="hr1"></div>
										<div class="module-subtitle p-right">
											<p>A Complete and proven System solution to cater to the needs of the machine is being continuously engineered by our Applications Team. Options of efficient drive solution with customer specific auxiliary circuits having a wide range of features can also be created.</p>
										</div>
									</div>
								</div>
							</div>

							<hr class="divider-w">

							<!--Service 3-->
							<div class="service-right">
								<div class="row">
									<div class="col-md-6">
										<div>
											<h2>TRACTOR AND AGRICUTURAL APPLICATIONS</h2>
											<br>
											<div class="hr1"></div>
											<div class="module-subtitle p-left">
												<p>Our Team is providing Efficient, Reliable and Compact integrated Hydrostatic Transmission (HST) drive unit for limited space applications. Additional auxiliary system as per application can also be designed and supplied.</p>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="service1">
											<a title="tractor" href="#">
												<img class="gallery-image img-responsive" id="tractor" src="assets/images/Applications/tractor.jpg">
											</a>
										</div>
									</div>

								</div>
							</div>

							<hr class="divider-w">

							<div class="service-left">
								<div class="row">
									<div class="col-md-6">
										<div class="service2">
											<a title="sugarcane_harvestor" href="#">
												<img class="gallery-image img-responsive" id="sugarcane_harvestor" src="assets/images/Applications/sugarcane_harvester.png">
											</a>
										</div>
									</div>

									<div class="col-md-6">
										<h2>SUGARCANE HARVESTOR</h2>
										<br>
										<div class="hr1"></div>
										<div class="module-subtitle p-right">
											<p>Our team is continuously engineering System Solutions for drive and auxiliary application in various harvesters. Ergonomically designed Joystick with various features can be offered. System specific actuating circuits can be designed and supplied based on specific needs.</p>
										</div>
									</div>
								</div>
							</div>

							<hr class="divider-w">



						</div>
					</div>


					<div class="hidden" id="img-repo">

						<!-- #image-1 -->
						<div class="item" id="Skid_Steer">
							<img class="gallery-image img-responsive" title="Skid Steer View 1" src="assets/images/gallery/Application/Skid Steer/roller1.png">
						</div>
						<div class="item" id="Skid_Steer">
							<img class="gallery-image img-responsive" title="Skid Steer View 2" src="assets/images/gallery/Application/Skid Steer/roller2.png">
						</div>
						<div class="item" id="Skid_Steer">
							<img class="gallery-image img-responsive" title="Skid Steer View 3" src="assets/images/gallery/Application/Skid Steer/final_loader_mmm4_1.jpg" width="500" height="600">
						</div>

						<!-- #image-2 -->
						<div class="item" id="Walk_Behind">
							<img class="gallery-image img-responsive" title="Walk Behind Roller View 1" src="assets/images/Applications/walk_behind_roller_1.png">
						</div>
						<div class="item" id="Walk_Behind">
							<img class="gallery-image img-responsive" title="Walk Behind Roller View 2" src="assets/images/Applications/walk_behind_roller_2.png">
						</div>

						<!-- #image-3-->
						<div class="item" id="Self_loading">
							<img class="gallery-image img-responsive" title="Self Loafing Transit Mixer" src="assets/images/Applications/mixer.png">
						</div>
						<div class="item" id="Self_loading">
							<img class="gallery-image img-responsive" title="Self Loafing Transit Mixer" src="assets/images/Applications/loader_2.jpg">
						</div>

						<!-- #image-4-->
						<div class="item" id="sweeping_machine">
							<img class="gallery-image img-responsive" title="Sweeping Machine View 1" src="assets/images/Applications/sweeping_machine.png">
						</div>

						<!-- #image-5-->
						<div class="item" id="tractor">
							<img class="gallery-image img-responsive" title="Tractor & Agricultural Applications View 1" src="assets/images/Applications/tractor.jpg">
						</div>

						<!-- #image-6-->
						<div class="item" id="sugarcane_harvestor">
							<img class="gallery-image img-responsive" title="Sugarcane Harvester View 1" src="assets/images/Applications/sugarcane_harvester.png">
						</div>
					</div>

				</div>


			</div>
		</section>

		<div class="module-small bg-dark">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="widget">
							<h5 class="widget-title font-alt">Kolben</h5>
							<p>Short text about kolben hydraulics that will be added based on input.</p>
							<p>Phone:<a href="tel:+91-80-41170110"> +91-80-41170110</a></p>
							<p>Email:<a href="mailto:kolbenhydraulics@gmail.com"> kolbenhydraulics@gmail.com</a></p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="widget">
							<h5 class="widget-title font-alt">Quick Links</h5>
							<ul class="icon-list">
								<li><a href="index.html">Home </a></li>
								<li><a href="about.html">About Us </a></li>
								<li><a href="product">Products </a></li>
								<li><a href="#totop">Services </a></li>
								<li><a href="applications.html">Applications </a></li>
								<li><a href="news">News </a></li>
								<li><a href="contact.html">Contact </a></li>
								<li><a href="login.html">Login </a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="widget">
							<h5 class="widget-title font-alt">Products</h5>
							<ul class="icon-list">
								<a href="#"><li>Product 1</li></a>
								<a href="#"><li>Product 2</li></a>
								<a href="#"><li>Product 3</li></a>
								<a href="#"><li>Product 4</li></a>
								<a href="#"><li>Product 5</li></a>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="divider-d">

		<footer class="footer bg-dark">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<p class="copyright font-alt">&copy; 2018&nbsp;Kolben Hydraulics, All Rights Reserved. Design by <a href="http://boilerplate.in" target="_blank">boilerplate</a></p>
					</div>
				</div>
			</div>
		</footer>

	</div>

	<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
    <!--
    JavaScripts
    =============================================
-->
<script src="assets/lib/jquery/dist/jquery.js"></script>
<script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/lib/wow/dist/wow.js"></script>
<script src="assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="assets/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="assets/lib/flexslider/jquery.flexslider.js"></script>
<script src="assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="assets/lib/smoothscroll.js"></script>
<script src="assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>

<!-- Slider script -->
<script src="assets/js/slider.js" type="text/javascript"></script>
<script type="text/javascript" src="assets/magiczoomplus.js"></script>
<script type="text/javascript">
	function zoomin() {
		/*var myImg = document.getElementById("Skid_Steer");*/
		var myImg = $('.item').find('img')[0];
		// console.log(myImg);
		var currWidth = myImg.clientWidth;
		console.log(currWidth);
		if (currWidth == 2500) return false;
		else {
			myImg.style.width = (currWidth + 100) + "px";
		}
	}

	function zoomout() {
		/*var myImg = document.getElementById("Skid_Steer");*/
		var myImg = $('.item').find('img')[0];
		var currWidth = myImg.clientWidth;
		console.log(currWidth);
		if (currWidth == 100) return false;
		else {
			myImg.style.width = (currWidth - 100) + "px";
		}
	}
</script>
</body>

<div class="modal" id="modal-gallery" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal">×</button>
				<h3 class="modal-title"></h3>
			</div>
			<div class="modal-body">
				<div id="modal-carousel" class="carousel">

					<div class="carousel-inner">
					</div>

					<a class="carousel-control left" href="#modal-carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
					<a class="carousel-control right" href="#modal-carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>

				</div>
			</div>
			<div class="modal-footer">
				<!-- <button class="btn btn-b btn-circle" onclick="zoomin()">Zoom In</button>
				<button class="btn btn-b btn-circle" onclick="zoomout()">Zoom Out</button> -->
				<button class="btn btn-b btn-circle">Close</button>
			</div>
		</div>
	</div>
</div>


</html>