<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
  -->
  <title>Kolben Hydraulics | Contact</title>
    <!--
    Favicons
    =============================================
  -->
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

  -->
  <!-- Default stylesheets-->
  <link href="assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="assets/lib/animate.css/animate.css" rel="stylesheet">
  <link href="assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="assets/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="assets/css/style.css" rel="stylesheet">
  <link id="color-scheme" href="assets/css/colors/default.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="contact_form/custom.css">
  <style>
    .about-page-header
    {
      padding:250px 0px;
    }
  </style>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-left" href="index.html"><img style="padding-left:10px; padding-bottom: 2px; padding-top: 2px;" src="assets/images/logo-1.png"></img></a>
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Home</a></li>
            <li><a class="section-scroll" href="about.html">About us</a></li>
            <li><a class="section-scroll" href="product">Products</a></li>
            <li><a class="section-scroll" href="services.html">Services</a></li>
            <li><a class="section-scroll" href="applications.html">Applications</a></li>
            <li><a class="section-scroll" href="news">News</a></li>
            <li><a class="section-scroll active" href="#totop">Contact</a></li>
            <li><a class="section-scroll" href="login.html">Log In</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main">
      <section class="module bg-dark-60 about-page-header" data-background="assets/images/landing/contact2.png">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt">Contact Us</h2>
              <div class="module-subtitle1 font-serif"></div>
            </div>
          </div>
        </div>
      </section>
      <section style="padding-bottom: 50px;" class="module">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="font-alt">Get in touch</h4><br/>

              <p>Please use the form to submit your queries,questions or comments. A Kolben representative will contact you shortly.</p>
              
              <form id="contact-form" method="post" action="https://boilerplate.in/private/kolben/contact.php1" role="form">

                <div class="messages"></div>

                <div class="controls">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_name">Name *</label>
                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_email">Email *</label>
                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="form_message">Type Your Company Name here *</label>
                        <input id="form_phone" type="text" name="company" class="form-control" placeholder="Your Company here" required="required" data-error="Valid Company Name is required.">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_subject">Subject *</label>
                        <input id="form_subject" type="text" name="subject" class="form-control" placeholder="Type your subject for the Message here*" required="required" data-error="Valid subject is required.">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="form_phone">Phone</label>
                        <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="form_message">Message *</label>
                        <textarea id="form_message" name="message" class="form-control" placeholder="Type Your message here" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <input type="submit" class="btn btn-kolben btn-send" value="Send message">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p class="text-muted"><strong>*</strong> These fields are required.</p>
                    </div>
                  </div>
                </div>

              </form>

            </div>
            <div class="col-sm-6">
              <!-- <h4 class="font-alt additional">Some Additional info</h4><br/> -->

              <!-- <hr/> -->
              <h4 style="margin-left: 150px;" class="font-alt">Business Hours</h4><br/>
              <ul style="margin-left: 150px;" class="list-unstyled">
                <li><B>Monday - Saturday<br> 8:00 a.m to 5:00 p.m</B></li>
              </div>
            </div>
          </div>

        </section>

        <hr class="divider-w">

        <section class ="call">

          <div class="container">
            <div class="row">
              <!-- <div class="col-sm-6"> -->
               <div class="col-sm-6 sm-margin-b-50">
                <div>
                  <h3>Head Office  & South Zone</span></h3>
                  <ul class="list-unstyled contact-list">
                    <li><p>#SB-54, 2nd Cross, Peenya Industrial Estate, 1st Stage, Bangalore - 560058, India.</p></li>
                    <li><i class="icon-size icon-phone"></i><a class="detail-size" href="tel:+91-80-29724222">T : +91-80-29724222</a></li>
                    <li><i class="icon-size icon-phone"></i><a class="detail-size" href="tel:+91-96-86455297">M : +91-96-86455297</a></li>
                    <li><i class="icon-mail-size icon-envelope"></i><a class="detail-size" href="mailto:Marketingsupport@kolbenhydraulics.com">Marketingsupport@kolbenhydraulics.com</a></li>
                  </ul>
                </div>
              </div>
              <!-- End Contact List -->

              <!-- Contact List -->
              <div class="col-sm-6 sm-margin-b-50">
                <div>
                  <h3>North Zone</span></h3>
                  <ul class="list-unstyled contact-list">
                    <li><p>1st Floor 6/13,Industrial Area, Kirthinagar, New Delhi - 110015, India.</p></li>
                    <li><i class="icon-size icon-phone"></i><a class="detail-size" href="tel:+91-95-82438899">M : +91-95-82438899</a></li>
                    <li><i class="icon-mail-size icon-envelope"></i><a class="detail-size" href="mailto:kolbenservnz@gmail.com">kolbenservnz@gmail.com</a></li>
                  </ul>
                </div>
              </div>

              <!-- </div> -->
            </div>
            <div class="row">
              <!-- <div class="col-sm-6"> -->
               <div class="col-sm-6 sm-margin-b-50">
                <div>
                  <h3>East Zone</span></h3>
                  <ul class="list-unstyled contact-list">
                    <li><i class="icon-size icon-phone"></i><a class="detail-size" href="tel:+91-98-30236628"> +91-98-30236628</a></li>
                    <li><i class="icon-mail-size icon-envelope"></i><a class="detail-size" href="mailto:kobeneast@gmail.com">kolbeneast@gmail.com</a></li>
                  </ul>
                </div>
              </div>
              <!-- End Contact List -->

              <!-- Contact List -->
              <div class="col-sm-6 sm-margin-b-50">
                <div>
                  <h3>West Zone</span></h3>
                  <ul class="list-unstyled contact-list">
                    <li><i class="icon-size icon-phone"></i><a class="detail-size" href="tel:+91-91-67439604"> +91-91-67439604</a></li>
                    <li><i class="icon-mail-size icon-envelope"></i><a class="detail-size" href="mailto:kolbenservnz@gmail.com">kolbenwzserv@gmail.com</a></li>
                  </ul>
                </div>
              </div>

              <!-- </div> -->
            </div>
          </div>

        </section>




        <!-- Google Map -->
        <section style="margin-bottom: 25px; margin-top: 25px;" id="map-section" >
          <div class="container">
            <div class="row">
              <div class="col-sm-12 sm-margin-b-50">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.013643987534!2d77.51942656659395!3d13.03480300285441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3d2114086b17%3A0xa05f454a20dbee3f!2sKOLBEN+HYDRAULICS+LTD!5e0!3m2!1sen!2sin!4v1518301084810" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
             </div>
           </div>
         </div>
       </section>
       <div class="module-small bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="widget">
                <h5 class="widget-title font-alt">Kolben</h5>
                <p>Packaged solutions and services for a range of applications.</p>
                <p>Phone:<a href="tel:+91-80-29724222"> +91-80-29724222</a></p>
                <p>Email:<a href="mailto: marketingsupport@kolbenhydraulics.com">  marketingsupport@kolbenhydraulics.com</a></p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="widget">
                <h5 class="widget-title font-alt">Quick Links</h5>
                <ul class="icon-list">
                  <div class="container">
                    <li><a href="index.html">Home </a></li>
                    <li><a href="about.html">About Us </a></li>
                    <li><a href="products">Products </a></li>
                    <li><a href="services.html">Services </a></li>
                    <li><a href="applications.html">Applications</a></li>
                    <li><a href="news">News </a></li>
                    <li><a href="#totop">Contact </a></li>
                    <li><a href="login.html">Login </a></li>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="divider-d">

      <footer class="footer bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <p class="copyright font-alt">&copy; 2019&nbsp;Kolben Hydraulics Ltd., All Rights Reserved. Design by <a  href="http://boilerplate.in" target="_blank">boilerplate</a></p>
            </div>
          </div>
        </div>
      </footer>

    </div>

    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
  </main>
    <!--
    JavaScripts
    =============================================
  -->
  <script src="assets/lib/jquery/dist/jquery.js"></script>
  <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="assets/lib/wow/dist/wow.js"></script>
  <script src="assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
  <script src="assets/lib/isotope/dist/isotope.pkgd.js"></script>
  <script src="assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
  <script src="assets/lib/flexslider/jquery.flexslider.js"></script>
  <script src="assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
  <!-- <script src="assets/lib/smoothscroll.js"></script> -->
  <script src="assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
  <script src="assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
  <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK2Axt8xiFYMBMDwwG1XzBQvEbYpzCvFU"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/main.js"></script>

  <script src="contact_form/validator.js"></script>
  <script src="contact_form/contact.js"></script>
</body>
</html>
