<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
  -->
  <title>Kolben Hydraulics | Services</title>
    <!--
    Favicons
    =============================================
  -->
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

  -->
  <!-- Default stylesheets-->
  <link href="assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="assets/lib/animate.css/animate.css" rel="stylesheet">
  <link href="assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="assets/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="assets/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  <link href="assets/css/style.css" rel="stylesheet">
  <link id="color-scheme" href="assets/css/colors/default.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-left" href="index.html"><img style="padding-left:10px; padding-bottom: 2px; padding-top: 2px;" src="assets/images/logo-1.png"></img></a>
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Home</a></li>
            <li><a class="section-scroll" href="about.html">About us</a></li>
            <li><a class="section-scroll" href="product">Products</a></li>
            <li><a class="section-scroll active" href="#totop">Services</a></li>
            <li><a class="section-scroll" href="applications.html">Applications</a></li>
            <li><a class="section-scroll" href="news">News</a></li>
            <li><a class="section-scroll" href="contact.html">Contact</a></li>
            <li><a class="section-scroll" href="login.html">Log In</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main">
      <section style="padding: 280px 0px;" class="module bg-dark-60 service-page-header" data-background="assets/images/landing/Service.jpg">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt">Services</h2>
              <div class="module-subtitle1 font-serif"></div>
            </div>
          </div>
        </div>
      </section>

      <section style="padding-bottom: 20px; padding-top: 55px;" class="module" id="services">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="module-subtitle font-serif">Our Service team has over 100 man years of expertise in repairing and troubleshooting of Piston units. All units  coming in for  service undergo a  thorough check and a feedback is given to the client on techno/commercial points before proceeding with repairs</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h3 class="module-title font-alt">Mobile Applications</h3>
              <div class="module-subtitle font-serif"></div>
            </div>
          </div>
          <div class="row multi-columns-row">
            <div class="container">

              <div class="service-right">
                <div class="row">
                  <div class="col-md-6">
                    <h2>Concrete Pump </h2>
                    <br>
                    <div class="hr1"></div>
                    <div class="module-subtitle p-left">
                      <p>We regularly  Service  Piston Pumps  of various  brands such as Rexroth – A11VO130 and other models  that have been installed in Concrete Pumps such as: Putzmiester – 1407D, Schwing Stetter – SP 8800, SANY – Series 700,1000,1400, Aquarius, Greaves etc…
                      </p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service1">
                      <img style="height: 250px !important" src="assets/images/MobileApplications/1_Concrete_Pump/main.png">
                    </div>
                  </div>
                </div>
              </div>

              <hr class="divider-w">

              <!--Feature2-->

              <div class="service-left">
                <div class="row">
                  <div class="col-md-6">
                    <div class="service2"><img style="height: 250px !important" src="assets/images/MobileApplications/2_Excavator/main.png"></div>
                  </div>

                  <div class="col-md-6">
                    <h2>Excavator</h2>
                    <br>
                    <div class="hr1"></div>
                    <div class="module-subtitle p-right">
                      <p>Axial Piston Pumps or Motors such as Kawasaki – K3VL63 and K3VL112T, are serviced on a regular basis installed in Excavators such as: L&T Komatsu – PC-71, PC-210 Avance, PC-300 ; TATA Hitachi – TMX-20, EX 110, EX210 ; KOBELCO – SK220, SK380; Hyundai – R80, R210 ; JCB – JS215LC ; Volvo – EC140D, EC210D; SANY – SY80C, SY210C; DOOSAN – DX63-3, DX235LC etc…
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <hr class="divider-w">

              <!--Service 3-->
              <div class="service-right">
                <div class="row">
                  <div class="col-md-6">
                   <div>
                    <h2>Self Loading Transit Mixture</h2>
                    <br>
                    <div class="hr1"></div>
                    <div class="module-subtitle p-left">
                      <p>Our Service Centre excels in repairing Piston Pumps such as Rexroth – A10VG45DA ,A4VG56 DA, A4VG71DA, A6VM80;  Bondioli-Pavesi – M4PV50, M4PV32 installed in SLTMs such as: Ajax Fiori – Argo 2000, Argo 4000; Schwing Stetter – SLM 2200, SLM 4000; MACONS – MST-2, MST-4; DMIX – DS 1000, DS2500, DS4000; SNE – SNE200, SNE300 etc…
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="service1"><img style="height: 250px !important" src="assets/images/MobileApplications/4_Self_Loading_Transit_Mixer/main.png"></div>
                </div>

              </div>
            </div>


            <hr class="divider-w">


            <!--Service 4-->
            <div class="service-left">
              <div class="row">
                <div class="col-md-6">
                  <div class="service2"><img style="height: 250px !important" src="assets/images/MobileApplications/5_Knuckle_Boom_Crane/main.png"></div>
                </div>

                <div class="col-md-6">
                  <h2>Knuckle Boom Crane</h2>
                  <br>
                  <div class="hr1"></div>
                  <div class="module-subtitle p-right">
                    <p>We service Axial Piston Pumps such as Rexroth – A17F045 Series, Sunfab – SC 047; in Knuckle Boom Cranes in popular makes such as: Cargotec (HIAB) – HIAB X-CL 8, HIAB X-CL 12; Palfinger Cranes – SPK8500, SPK10000,SPK15500 etc…</p>
                  </div>
                </div>
              </div>
            </div>

            <hr class="divider-w">

            <!--Service 5-->
            <div class="service-right">
              <div class="row">
                <div class="col-md-6">
                 <div>
                  <h2>Road Paver</h2>
                  <br>
                  <div class="hr1"></div>
                  <div class="module-subtitle p-left">
                    <p>We service Hydraulic Pumps /motors  of  Sauer Danfoss – 90L055, 51V080 etc… installed in Road Pavers such as: Gujarat Apollo – AP800, AP1000; Volvo – P5320B ABG, P6820C; UNITER – VP-05, ESP-03, VM-45 etc…
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="service1"><img style="height: 250px !important" src="assets/images/MobileApplications/6_Road_Paver/main.png"></div>
              </div>

            </div>
          </div>


          <hr class="divider-w">


          <!--Service 6-->
          <div class="service-left">
            <div class="row">
              <div class="col-md-6">
                <div class="service2"><img style="height: 250px !important" src="assets/images/MobileApplications/3_Tandem_Roller/main.png"></div>
              </div>

              <div class="col-md-6">
                <h2>Tadem Roller</h2>
                <br>
                <div class="hr1"></div>
                <div class="module-subtitle p-right">
                  <p>Servicing Hydraulic Pumps or Motors  such as Sauer Danfoss – 90R series,Rexroth – A4VG56 , A4V71, A2FM45, A2FM56  etc… installed in Tandem Rollers such as: JCB – VMT330, VMT860; Escorts – HD85, EC3664; CASE – 450 DX; ACE – ASD110 etc…
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h3 style="margin-top: 75px;" class="module-title font-alt">Industrial Applications</h3>
            <div class="module-subtitle font-serif"></div>
          </div>
        </div>
        <div class="row multi-columns-row">
          <div class="container">

            <div class="service-right">
              <div class="row">
                <div class="col-md-6">
                  <h2>Machine Tools</h2>
                  <br>
                  <div class="hr1"></div>
                  <div class="module-subtitle p-left">
                    <p>A range of Piston Pumps such as Yuken – AR 16, AR 22 etc… used on CNC Lathe, VMC, HMC and SPM are serviced at our works installed in makes such as: LMW, ACE, JYOTHI, BFW, MAKINO etc… 
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="service1">
                    <img style="height: 250px !important" src="assets/images/IndustrialApplications/2_Machine_Tools/main.png">
                  </div>
                </div>
              </div>
            </div>

            <hr class="divider-w">

            <!--Feature2-->

            <div class="service-left">
              <div class="row">
                <div class="col-md-12">
                  <h2>Plastic Injection Moulding  and other Moulding Machines</h2>
                  <div style="margin-top: 20px; margin-bottom: 20px; width: 100%" class="hr1"></div>
                </div>
                <div class="col-md-12">
                  <div class="service2"><img src="assets/images/IndustrialApplications/1_Moulding_Machines/main.png"></div>
                </div>

                <div class="col-md-12">
                  <!-- <h2>Plastic Injection Moulding  and other Moulding Machines</h2> -->
                  <br>
                  <!-- <div class="hr1"></div> -->
                  <div style="width: 100%" class="module-subtitle p-right">
                    <p>We  regularly Service  Piston Pumps such as Yuken- A37 04, A37 04 E, Yuken Tandem piston pump  etc…, Rexroth – A10VSO series, SYDFE  installed in popular PIMs such as: Milacron, Nissei-ASB, Toshiba, Windsor etc…
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <hr class="divider-w">

            <div class="service-left">
              <div class="row">
                <div class="col-md-12">
                  <h2>Steel Plants and Hydraulic Vertical Presses</h2>
                  <div style="margin-top: 20px; margin-bottom: 20px; width: 100%" class="hr1"></div>
                </div>
                <div class="col-md-12">
                  <div class="service2"><img src="assets/images/IndustrialApplications/3_Steel_Plants_and_Hydraulic_Presses/main.png"></div>
                </div>

                <div class="col-md-12">
                  <!-- <h2>Plastic Injection Moulding  and other Moulding Machines</h2> -->
                  <br>
                  <!-- <div class="hr1"></div> -->
                  <div style="width: 100%" class="module-subtitle p-right">
                    <p>Over the last few years, Kolben has serviced Piston Pumps such as Rexroth – A4VSO 125,250, A10VSO , A11V0 A2FO  installed in Steel Plants across Indiaand in Hydraulic Presses of various makes such as: ISGEC, Electro Pneumatics, Barani Hydraulics, SPM Control, BEMCO, Santec India etc…
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!--Service 3-->
            <!-- <div class="service-right">
              <div class="row">
                <div class="col-md-6">
                 <div>
                  <h2>Steel Plants and Hydraulic Vertical Presses</h2>
                  <br>
                  <div class="hr1"></div>
                  <div class="module-subtitle p-left">
                    <p>Over the last few years, Kolben has serviced Piston Pumps such as 
                      Rexroth – A4VSO 125,250, A10VSO , A11V0 A2FO  installed in Steel Plants across Indiaand in Hydraulic Presses of various makes  such as: ISGEC, Electro Pneumatics, Barani Hydraulics, SPM Control, BEMCO, Santec India etc…
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="service1"><img src="assets/images/IndustrialApplications/3_Steel_Plants_and_Hydraulic_Presses/main.png"></div>
              </div>

            </div>
          </div>
 -->
        </div>

      </div>
    </div>
  </section>

  <section class="module-small bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
          <div class="callout-text font-alt">
            <h3 class="callout-title">Want to get a product serviced?</h3>
            <p>Drop us your enquiry and our Service Team will be in touch with you at the earliest.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
          <div class="callout-btn-box"><a class="btn btn-b btn-circle text-uppercase" href="contact.html">Contact Us</a></div>
        </div>
      </div>
    </div>
  </section>

  <div class="module-small bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="widget">
            <h5 class="widget-title font-alt">Kolben</h5>
            <p>Packaged solutions and services for a range of applications.</p>
            <p>Phone:<a href="tel:+91-80-29724222"> +91-80-29724222</a></p>
            <p>Email:<a href="mailto: marketingsupport@kolbenhydraulics.com">  marketingsupport@kolbenhydraulics.com</a></p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="widget">
            <h5 class="widget-title font-alt">Quick Links</h5>
            <ul class="icon-list">
              <div class="container">
                <li><a href="index.html">Home </a></li>
                <li><a href="about.html">About Us </a></li>
                <li><a href="product">Products </a></li>
                <li><a href="#totop">Services </a></li>
                <li><a href="applications.html">Applications</a></li>
                <li><a href="news">News </a></li>
                <li><a href="contact.html">Contact </a></li>
                <li><a href="login.html">Login </a></li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="divider-d">

  <footer class="footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p class="copyright font-alt">&copy; 2019&nbsp;Kolben Hydraulics Ltd., All Rights Reserved. Design by <a href="http://boilerplate.in" target="_blank">boilerplate</a></p>
        </div>
      </div>
    </div>
  </footer>

</div>

<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
    <!--
    JavaScripts
    =============================================
  -->
  <script src="assets/lib/jquery/dist/jquery.js"></script>
  <script src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="assets/lib/wow/dist/wow.js"></script>
  <script src="assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
  <script src="assets/lib/isotope/dist/isotope.pkgd.js"></script>
  <script src="assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
  <script src="assets/lib/flexslider/jquery.flexslider.js"></script>
  <script src="assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
  <!-- <script src="assets/lib/smoothscroll.js"></script> -->
  <script src="assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
  <script src="assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/main.js"></script>

  <!-- Slider script -->
  <script src="assets/js/slider.js" type="text/javascript"></script>
</body>
<div class="modal" id="modal-gallery" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">×</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
        <div id="modal-carousel" class="carousel">

          <div class="carousel-inner">
          </div>

          <a class="carousel-control left" href="#modal-carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="carousel-control right" href="#modal-carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-b btn-circle" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</html>
